BikeChallengeApp/bin/BikeChallengeApp.dll
BikeChallengeApp/bin/BikeChallengeApp.pdb
BikeChallengeApp/obj/Debug/BikeChallengeApp.csprojResolveAssemblyReference.cache
BikeChallengeApp/obj/Debug/BikeChallengeApp.dll
BikeChallengeApp/obj/Debug/BikeChallengeApp.pdb
*.dll
BikeChallengeApp/obj/Debug/BikeChallengeApp.pdb