<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style>
        .userAttribute {
            font-weight:bold;
        }
        .cancelFilter {
            color:red;
        }

        div > label {color:gray}

        #orgBlock {
            margin-bottom:20px;
            border-radius:20px;
            background-color:#e9e9e9;
        }

            #orgBlock:hover {
                background-color: #f5f5f5;
            }
        
    </style>

</head>


<body>
    <div class="container">
        <div class="row">
            <div class="row col-md-8" style="float:left">


                <div ng-switch data-on="adminNav.switch" style="padding-top:50px">
                    <!-- Users Management Interface--> 
                    <div ng-switch-when="1">
                       

                        <fieldset>
                            <legend>
                                <span>ניהול רוכבים</span>
                            </legend>
                        </fieldset>
                        <div class="row">
                            <div class="col-md-4 pull-right" style="font-weight:bolder">
                                <label><strong style="color:black">סינון תוצאות</strong></label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-3 pull-right">

                                <label>עיר מגורים</label>
                                <div class="form-control">
                                    <select ng-model="city"
                                            class="pull-right"
                                            ng-options="value for value in filterOptions[0].values"
                                            style="border:none" />
                                    <span class="glyphicon glyphicon-filter pull-left"
                                          ng-class="{'cancelFilter' : city}"
                                          ng-click="city=undefined"></span>
                                </div>
                            </div>

                            <div class="col-md-3 pull-right">
                                <label><strong>ארגון</strong></label>
                                <div class="form-control">
                                    <select ng-model="org"
                                            class="pull-right"
                                            ng-options="value for value in filterOptions[4].values"
                                            style="border:none" />
                                    <span class="glyphicon glyphicon-filter pull-left"
                                          ng-class="{'cancelFilter' : org}"
                                          ng-click="org=undefined"></span>
                                </div>
                            </div>

                            <div class="col-md-4 pull-right">
                                <label><strong>קבוצה</strong></label>
                                <div class="form-control">
                                    <select ng-model="group"
                                            class="pull-right"
                                            style="border:none"
                                            ng-options="value.GroupDes group by value.orgDispalyname  for value in filterOptions[1].values"></select>
                                    <span class="glyphicon glyphicon-filter pull-left"
                                          ng-class="{'cancelFilter' : group}"
                                          ng-click="group=undefined"></span>
                                </div>
                            </div>

                            <div class="col-md-2 pull-right">
                                <label><strong>מין הרוכב</strong></label>
                                <div class="form-control">
                                    <select ng-model="gender"
                                            class="pull-right"
                                            ng-options="value for value in filterOptions[2].values"
                                            style="border:none" />
                                    <span class="glyphicon glyphicon-filter pull-left"
                                          ng-class="{'cancelFilter' : gender}"
                                          ng-click="gender=undefined"></span>
                                </div>
                                
                            </div>
                        </div>
                    <br/>
                            <div class="row">
                                <div class="col-md-4 pull-right">
                                    <label><strong style="color:black">חיפוש משתמש</strong></label>
                                    <div class="form-control">
                                        <input class="pull-right" ng-model="query" style="border:none" />
                                        <span class="glyphicon glyphicon-search pull-left"></span>
                                    </div>
                                    
                                    <br />
                                </div>
                                
                                <div data-accordion class="col-md-10 pull-right">
                                    <div data-accordion-group ng-repeat="user in users | cityFilter:city | genderFilter:gender | orgFilter:org | groupFilter:group | filter:query | orderBy:'UserLname'" data-is-open="status1.open">
                                        <div data-accordion-heading>
                                            <span>{{user.UserLname}}</span>&nbsp;<span>{{user.UserFname}}</span>
                                            <i class="glyphicon" ng-class="{'glyphicon-chevron-down pull-left': status1.open, 'glyphicon-chevron-right pull-left': !status1.open}"></i>
                                        </div>

                                        <table class="table table-responsive table-condensed">
                                            <tr>
                                                <td>שם פרטי</td>
                                                <td class="userAttribute">{{user.UserFname}}</td>
                                                <td rowspan="12" align="center">
                                                    <img src="{{user.ImagePath}}" class="img-rounded img-responsive" style="max-height:200px;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>שם משפחה</td>
                                                <td class="userAttribute">{{user.UserLname}}</td>

                                            </tr>
                                            <tr>
                                                <td>מין</td>
                                                <td class="userAttribute" ng-if="user.Gender=='M'">זכר</td>
                                                <td class="userAttribute" ng-if="user.Gender!='M'">נקבה</td>
                                            </tr>
                                            <tr>
                                                <td>כתובת מגורים</td>
                                                <td class="userAttribute">{{user.UserAddress}}</td>
                                            </tr>
                                            <tr>
                                                <td>עיר מגורים</td>
                                                <td class="userAttribute">{{user.RiderCity}}</td>
                                            </tr>
                                            <tr>
                                                <td>מספר טלפון</td>
                                                <td class="userAttribute pull-right"
                                                    style="direction: ltr;">
                                                    {{user.UserPhone | phonePattrenFilter}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>כתובת דואר אלקטרוני</td>
                                                <td class="userAttribute">{{user.UserEmail}}</td>
                                            </tr>
                                            <tr>
                                                <td>תאריך לידה</td>
                                                <td class="userAttribute pull-right">
                                                    {{user.BirthDate | datePattrenFilter}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>סוג אופניים</td>
                                                <td class="userAttribute">{{user.BicycleType}}</td>
                                            </tr>
                                            <tr>
                                                <td>ארגון</td>
                                                <td class="userAttribute">{{user.OrganizationDes}}</td>
                                            </tr>
                                            <tr>
                                                <td>קבוצה</td>
                                                <td class="userAttribute">{{user.GroupDes}}</td>
                                            </tr>
                                            <tr>
                                                <td>תאריך רישום</td>
                                                <td class="userAttribute">{{user.JoinDate| datePattrenFilter}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>

                                        <button class="btn btn-default pull-left"
                                                ng-click="removeUser(user.UserDes)">
                                            <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                            <span>מחיקת משתמש</span>
                                        </button>


                                    </div>
                                </div>

                            </div>    
                            </div>
                                         
                    <!-- Groups/Orgs Management Interface-->
                    <div ng-switch-when="2">
                        
                        <fieldset>
                            <legend>ניהול ארגונים וקבוצות</legend>
                        </fieldset>
                        
                        <div class="row">
                            <div class="col-md-4 pull-right" style="font-weight:bolder">
                                <label><strong style="color:black">סינון תוצאות</strong></label>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right" style="margin-bottom:20px;">
                            <label><strong>ארגון</strong></label>
                            <div class="form-control">
                                <select ng-model="orgGrpMgmt"
                                        class="pull-right"
                                        ng-options="value for value in filterOptions[4].values"
                                        style="border:none" />
                                <span class="glyphicon glyphicon-filter pull-left"
                                      ng-class="{'cancelFilter' : orgGrpMgmt}"
                                      ng-click="orgGrpMgmt=undefined"></span>
                            </div>
                        <hr />
                        </div>
                        
                        


                        <div id="orgBlock" class="col-md-10 pull-right" 
                             ng-repeat="org in organizationsHolder | groupsOrgFilter:orgGrpMgmt |orderBy:'OrganizationDes'"
                             data-spacer
                             style="border:solid 1px;">
                            <div>

                                <table class="table" style="table-layout: fixed; ">
                                    <tr>
                                        <td style="border-top: none"><span><strong style="font-size:20px">{{org.OrganizationDes}}</strong></span></td>
                                        <td style="width: 120px; border-top: none">
                                            <img src="{{org.OrganiztionImage}}" class="img-responsive img-rounded" />
                                        </td>
                                    </tr>
                                </table>

                            </div>




                            <div ng-if="org.Organization == group.Organization" data-accordion ng-repeat="group in groupsHolder |  orderBy:'orgDispalyname'">
                                <div data-accordion-group data-is-open="statusGroup.open">
                                    <div data-accordion-heading>
                                        <span>{{group.GroupDes}}</span>
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down pull-left': statusGroup.open, 'glyphicon-chevron-right pull-left': !statusGroup.open}"></i>
                                    </div>

                                    <table class="table table-responsive table-condensed">
                                        <tr>
                                            <td>שם הקבוצה</td>
                                            <td class="userAttribute">{{group.GroupDes}}</td>

                                        </tr>
                                        <tr>
                                            <td>שם הארגון</td>
                                            <td class="userAttribute">{{group.orgDispalyname}}</td>

                                        </tr>
                                        <tr>
                                            <td>קפטן הקבוצה</td>
                                            <td class="userAttribute">{{group.GroupCaptain}}</td>
                                        </tr>

                                    </table>

                                    <button class="btn btn-default pull-left"
                                            ng-click="removeGroup(group.GroupName, group.orgName)">
                                        <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                        <span>מחיקת קבוצה</span>
                                    </button>


                                </div>
                            </div>
                            <hr />

                        </div>




                    </div>

                    <!-- BikeChallenge Events Management Interface-->
                    <div ng-switch-when="3">
                        <fieldset>
                            <legend>ניהול אירועים</legend>
                        </fieldset>
                    </div>

                    <div ng-switch-when="4">
                        <fieldset>
                            <legend>סיכום תחרות</legend>
                        </fieldset>
                    </div>

                    <div ng-switch-when="5">
                        <fieldset>
                            <legend>הפקת דוחות</legend>
                        </fieldset>
                    </div>

                    <div ng-switch-when="6">
                        <fieldset>
                            <legend>משלוח הודעות</legend>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="row col-md-1"></div>
            <div class="row col-md-3" style="padding-top:20px">
                      
                        <div class="row col-md-12">
                            
                            
                            <hr />
                            <div class="row scroll-down-text" ng-click="adminNav.switch=1">
                                <strong class="pull-right">ניהול רוכבים</strong>
                                <div class="glyphicon glyphicon-chevron-left pull-left scroll-down"></div>
                            </div>


                            <hr />
                            <div class="row scroll-down-text" ng-click="adminNav.switch=2">
                                <strong class="pull-right">ניהול קבוצות</strong>
                                <div class="glyphicon glyphicon-chevron-left pull-left scroll-down"></div>
                            </div>


                            <hr />
                            <div class="row scroll-down-text" ng-click="adminNav.switch=3">
                                <strong class="pull-right">ניהול אירועים</strong>
                                <div class="glyphicon glyphicon-chevron-left pull-left scroll-down"></div>
                            </div>

                            <hr />
                            <div class="row scroll-down-text" ng-click="adminNav.switch=4">
                                <strong class="pull-right">סיכום תחרויות</strong>
                                <div class="glyphicon glyphicon-chevron-left pull-left scroll-down"></div>
                            </div>


                            <hr />
                            <div class="row scroll-down-text" ng-click="adminNav.switch=5">
                                <strong class="pull-right">דוחות</strong>
                                <div class="glyphicon glyphicon-chevron-left pull-left scroll-down"></div>
                            </div>


                            <hr />
                            <div class="row scroll-down-text" ng-click="adminNav.switch=6">
                                <strong class="pull-right">משלוח הודעות</strong>
                                <div class="glyphicon glyphicon-chevron-left pull-left scroll-down"></div>
                            </div>
                            <hr />

                        </div>
                    </div>
        </div>
    </div>
</body>
</html>
