<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style>
        #passwordForm {
            position: absolute;
            top: 30%;
            left: 45%;
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="passwordForm" class="col-md-4">
            <form name="changePassword" ng-submit="changeUserPassword(changePassword)" novalidate>
                <!-- Current Password -->

                <div class="form-group">
                    <label><small>סיסמא נוכחית</small></label>
                    <input type="password"
                           name="cPassword"
                           class="form-control"
                           ng-model="password"
                           placeholder="סיסמא נוכחית"
                           ng-minlength="6"
                           required>
                </div>
                <!-- Password -->

                <div class="form-group" ng-class="{ 'has-error' : changePassword.nPassword.$invalid && changePassword.nPassword.$dirty , 'has-success' : changePassword.nPassword.$valid  }">
                    <label><small>סיסמא חדשה</small></label>
                    <input type="password"
                           name="nPassword"
                           class="form-control"
                           ng-model="nPassword"
                           placeholder="סיסמא חדשה"
                           ng-minlength="6"
                           required>
                    <p ng-show="changePassword.nPassword.$error.minlength" class="help-block">הססמא קצרה משישה תווים</p>
                </div>
                <!-- Password Confirm -->
                <div class="form-group" ng-class="{ 'has-error' : changePassword.confirmNewPassword.$invalid && changePassword.confirmNewPassword.$dirty , 'has-success' : changePassword.confirmNewPassword.$valid    }">
                    <label><small>אישור סיסמא חדשה</small></label>
                    <input type="password"
                           name="confirmNewPassword"
                           class="form-control"
                           ng-model="confirmNewPassword"
                           placeholder="אישור סיסמא חדשה"
                           ng-minlength="6"
                           data-update-valid-password-c
                           required>
                    <p ng-show="changePassword.confirmNewPassword.$dirty && changePassword.confirmNewPassword.$error.noMatch" class="help-block">אימות הססמא אינו תואם את הססמא שנבחרה</p>
                </div>
                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-primary" ng-disabled="changePassword.$invalid">עדכן סיסמא</button>
            </form>
        </div>
        <br />
    </div>


</body>
</html>
