<!DOCTYPE html>

<style>

    

</style>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script type="text/ng-template" id="popoverTemplate.html">

        <div class="row">

            <button name="btnpress" class="btn btn-primary  glyphicon glyphicon-download pull-right" ng-click="alarmFromPop($event)" style="text-align: right; width: 100%">   רכיבות   </button>
        </div>
        <div class="row" ng-repeat="uh in userHistory | filter: {RideDate: popDate }">
            <ul ng-if="routeFlag" class="pull-right">
                <li> {{uh.RideLength}}</li>
                <li> {{uh.RideType}}</li>
            </ul>
        </div>
        <div class="row">
            <button class="btn btn-primary  glyphicon glyphicon-download pull-right" ng-click="addRideFlag=true" style="text-align:right; width:100%">   דיווח רכיבה   </button>
        </div>
        <div class="row" ng-if="addRideFlag">
            <br/>
            <div class="pull-right" >
                <select id="teamSelect" ng-model="selectedRoute" ng-options="r.RouteName for r in userRoutes" required> </select>
                <button class="btn btn-primary" ng-click="submitRide()">עדכן</button>
            </div>

        </div>




    </script>
</head>



<body ng-init="init()">
    <div class="row">
        <div class="col-md-6 pull-right">
        </div>

        
        <div class="row col-md-6"  style="float:left">
            
            <div class="row col-md-12 pull-left" style="align-content:center; padding-top:20px">
                <table style="table-layout:fixed; width:100%">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="glyphicon glyphicon-chevron-right  btn btn-default" ng-click="calMonth = calMonth +1" style="border:none"></button></td>
                        <td><button class="glyphicon glyphicon glyphicon-pushpin btn btn-default" ng-click="calMonth = setToday()" style="border:none"></button></td>
                        <td><button class="glyphicon glyphicon-chevron-left   btn btn-default" ng-click="calMonth = calMonth  -1" style="border:none"></button><td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
         
            </div> 
            
            
            <div class="row pull-left" id="myCal" ng-model="calMonth" data-calendar month={{calMonth+1}} data-dates="calDates"> </div>
        </div>
    </div>

   
    
</body>
</html>
