<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
   
    <script type="text/ng-template" id="popoverTemplate.html" >
        <hr />
        <div id="btnpress" class=" row scroll-down-text pull-right" style="width:100%" >
            <strong class="pull-right" style="padding-right:1em" >רכיבות  <span style="padding-right: 14em" class="glyphicon glyphicon-chevron-down scroll-down" ng-click="alarmFromPop($event)"></span></strong>
            
        </div>
        <br />
        <div class="row">
            <table class="table table-hover pull-right" ng-if="routeFlag">
                <thead>
                    <tr>
                        <td>שם המסלול</td>
                        <td>אורך המסלול</td>
                    </tr>
                </thead>
                <tr ng-repeat="uh in userHistory | filter: {RideDate: popDate }">
                    <td>{{uh.RideType}}</td>
                    <td>{{uh.RideLength}}</td>
                </tr>
            </table>
        </div>
        <hr />
        <div class="row scroll-down-text pull-right" style="width:100%" >
            <strong class="pull-right" style="padding-right:1em">דיווח רכיבה<span style="padding-right: 12em" class="glyphicon glyphicon-chevron-down scroll-down" ng-click="flipRideFlag()"></span></strong>
            <br />
        </div>
        <div class="row" ng-if="addRideFlag">
            <br />
            <br />
            <div class="pull-right" style="padding-right:10px">
                <label for="routeSelect" class="pull-right">בחר מסלול</label>
                <br />
                <select id="routeSelect" class=" btn btn-default btn-sm form-control dropdown-toggle" ng-model="selectedRoute.routeName" ng-options="r.RouteType for r in userRoutes" required> </select>
                <br/>
                <label for="rt">האם רכבת גם בדרך חזרה ?</label>
                <input id="rt" type="checkbox" data-icheck ng-model="selectedRoute.roundTrip" value="true" />
                <br />
                <br/>
                <button class="pull-right btn btn-primary" ng-click="submitRide(selectedRoute,$event)">עדכן</button>
            </div>
            
        </div>
        <hr />


    </script>
    <style>
        .popover-title {
            height: 40px;
            background-color:#689df2;
            color:white;
            font-weight:bold;
        }
    </style>


</head>






<body ng-init="init()">
    <div class="container">
        <div class="row">
            <div class="row col-md-6" style="float:left">
                <!-- Calendar Navigation-->
                <div class="row col-md-12 pull-left" style="align-content:center; padding-top:20px">
                    <table style="table-layout:fixed; width:100%">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="glyphicon glyphicon-chevron-right  btn btn-default" ng-click="calNabButtons(1)" style="border:none"></a></td>
                            <td><a class="glyphicon glyphicon glyphicon-pushpin btn btn-default" ng-click="calNabButtons(0)" style="border:none"></a></td>
                            <td><a class="glyphicon glyphicon-chevron-left   btn btn-default" ng-click="calNabButtons(-1)" style="border:none"></a>
                            <td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>

                </div>

                <!--Calendar-->
                <div class="row pull-left" id="myCal" ng-model="calMonth" data-calendar month={{calMonth+1}} data-dates="calDates"> </div>
            </div>
            <div class="row col-md-1"></div>
            <div class="row col-md-5" style="padding-top:20px">
                <!--Right Dash Navigation-->
                <div class=" row col-md-8  col-md-offset-2 btn-group  ">
                    <button class="btn btn-default btn-lg  glyphicon glyphicon-road " ng-click="rightDash.switch=1" ng-class="{ 'active' : rightDash.switch==1 }" title="מסלולים"></button>
                    &nbsp;
                    <button class="btn btn-default btn-lg glyphicon glyphicon-glass " ng-click="rightDash.switch=2" ng-class="{ 'active' : rightDash.switch==2 }" title="אירועים"></button>
                    &nbsp;
                    <button class="btn btn-default btn-lg glyphicon glyphicon-flag " ng-click="rightDash.switch=3" ng-class="{ 'active' : rightDash.switch==3 }" title="בייק צ'אלנג'"></button>
                    &nbsp;
                    <button class="btn btn-default btn-lg glyphicon glyphicon-stats  " ng-click="rightDash.switch=4" ng-class="{ 'active' : rightDash.switch==4 }" title="מדדים"></button>

                </div>

                <div class="row col-md-12">

                    
                    <div ng-switch data-on="rightDash.switch" style="padding-top:50px">
                        <!-- Right Dash Switch Handling-->
                        <div ng-switch-when="1">
                            <hr />
                            
                                <div class="row scroll-down-text" ng-click="flipShowMyRoutesFlag()">
                                    <strong class="pull-right">המסלולים שלי</strong>
                                    <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                                </div>
                                <div id="viewUserRoutes" ng-if="showMyRoutesFlag">
                                    <br />
                                    <!-- View User's Routes-->
                                    <table class="table table-hover">

                                        <thead style="font-weight: bold;">
                                            <tr>
                                                <td>שם המסלול</td>
                                                <td>תיאור</td>
                                                <td>מקור</td>
                                                <td>יעד</td>
                                                <td>אורך</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="route in userRoutes">
                                            <td>{{route.RouteType}}</td> <!-- Route Name Replacement-->
                                            <td>{{route.Comments}}</td>
                                            <td>{{route.RouteSource}}</td>
                                            <td>{{route.RouteDestination}}</td>
                                            <td>{{route.RouteLength}}</td>
                                            <td><button class="glyphicon glyphicon-remove" title="מחיקת המסלול" style="border:none; background:none; color:red" ng-click="deleteRoute(route)"></button></td>
                                        </tr>
                                    </table>

                                </div>
                                <hr />
                                <div class="row scroll-down-text" ng-click="flipAddNewRouteFlag()">
                                    <strong>הוספת מסלול חדש</strong>
                                    <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                                </div>

                                <form ng-submit="addNewRoute(newRoute)" name="newRoute" ng-if="addNewRouteFlag" style="width:50%" novalidate>
                                    <br />
                                    <input type="text" class="form-control" ng-model="newRoute.type" placeholder="שם מסלול" required /><br /> <!-- Route Name Replacement-->
                                    <input type="text" class="form-control" ng-model="newRoute.source" placeholder="מקור" required /><br />
                                    <input type="text" class="form-control" ng-model="newRoute.destination" placeholder="יעד" required /><br />
                                    <input type="number" class="form-control" ng-model="newRoute.lenght" placeholder="אורך המסלול" min="0" required /><br />
                                    <input type="text" class="form-control" ng-model="newRoute.comments" placeholder="הערות" /><br />
                                    <button type="submit" class="btn btn-success" ng-disabled="newRoute.$invalid">הוסף מסלול</button>
                                </form>

                                <hr />

                                <div class="row scroll-down-text" ng-click="flipAddNewSRideFlag()">
                                    <strong>דיווח נסיעה ספונטנית</strong>
                                    <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                                </div>
                                <form ng-submit="addNewSpontanicRide(newSRide)" name="newSRide" ng-if="addNewSRideFlag" style="width:50%" novalidate>
                                    <br />
                                    <input type="text" class="form-control" ng-model="newSRide.type" placeholder="שם מסלול" required /><br /> <!-- Route Name Replacement-->
                                    <input type="date" class="form-control" ng-model="newSRide.date" placeholder="תאריך" required /><br />
                                    <input type="text" class="form-control" ng-model="newSRide.source" placeholder="מקור" required /><br />
                                    <input type="text" class="form-control" ng-model="newSRide.destination" placeholder="יעד" required /><br />
                                    <input type="number" class="form-control" ng-model="newSRide.lenght" placeholder="אורך המסלול" min="0" required /><br />
                                    <input type="text" class="form-control" ng-model="newSRide.comments" placeholder="הערות"  /><br />
                                    <button type="submit" class="btn btn-success" ng-disabled="newSRide.$invalid">הוסף דיווח</button>
                                </form>
                                <hr />


                            <div class="row scroll-down-text" ng-click="flipAddNewRRideFlag()">
                                <strong>דיווח נסיעה ממסלול</strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>
                            <form ng-submit="addNewRRideMenu(newRRide)" name="newRRide" ng-if="addNewRRideFlag" style="width:50%" novalidate>
                                <br />
                                <label>שם המסלול</label>
                                <select id="routeSelectMenu" class=" btn btn-default btn-sm form-control dropdown-toggle" ng-model="newRRide.routeName" ng-options="r.RouteType for r in userRoutes" required> </select>
                                <input type="date" class="form-control" ng-model="newRRide.date" placeholder="תאריך" required /><br />
                                <br />
                                <label for="roundTrip">האם רכבת גם בדרך חזרה ?</label>
                                <input id="roundTrip" type="checkbox" data-icheck ng-model="newRRide.roundTrip" value="true" />
                                <button type="submit" class="btn btn-success" ng-disabled="newRRide.$invalid">הוסף דיווח</button>
                            </form>
                            <hr />
                                <div class="row scroll-down-text" style="padding-bottom:700px"></div>
                            </div>

                        <div ng-switch-when="2">
                            <div class="row scroll-down-text" ng-click="">
                                <strong class="pull-right">ארועים עתידיים</strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>
                            <hr />
                            <div class="row scroll-down-text" ng-click="">
                                <strong class="pull-right">אירועים אליהם נרשמתי</strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>
                            <hr />
                            <div class="row scroll-down-text" style="padding-bottom:700px"></div>
                        </div>

                        <div ng-switch-when="3">
                            <p> </p>
                            <fieldset>
                                <legend>בייק צ'אלנג עבור חודש {{displayMonth}}</legend>
                            </fieldset>
                            <br/>

                           


                            <div class="row scroll-down-text" ng-click="flipShowMyRanksFlag()">
                                <strong>דירוג אישי</strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>
                            <div ng-if="showMyRanksFlag">

                            </div>
                            <hr />
                            <div class="row scroll-down-text" ng-click="flipShowRidersRanksFlag()">
                                <strong>דירוג רוכבים</strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>
                            <div ng-if="showRidersRanksFlag">
                                <br />
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr class="active">
                                            <td>#</td>
                                            <td>שם</td>
                                            <td>קבוצה</td>
                                            <td>ארגון</td>
                                            <td>ניקוד</td>
                                            <td title="דירוג BikeChallenge">BC</td>

                                        </tr>
                                    </thead>
                                    <tr ng-repeat="user in globalRanks.users">
                                        <td>{{$index + 1}}</td>
                                        <td>{{user.UserDisplayName}}</td>
                                        <td>{{user.GroupDes}}</td>
                                        <td>{{user.OrganizationDes}}</td>
                                        <td>{{user.User_Points}}</td>
                                        <td >
                                            <i ng-class="{'fa fa-star': (user.User_Points >= 50)}"  ></i>
                                            <i ng-class="{'fa fa-star': (user.User_Points >= 150)}"></i>
                                            <i ng-class="{'fa fa-star': (user.User_Points >= 500)}"></i>
                                            <i ng-class="{'fa fa-star': (user.User_Points >= 1500)}"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <hr />
                            <div class="row scroll-down-text" ng-click="flipShowGroupsRanksFlag()">
                                <strong>דירוג קבוצות</strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>
                            <div ng-if="showGroupsRanksFlag">
                                <br />
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr class="active">
                                            <td>#</td>
                                            <td>שם הקבוצה</td>
                                            <td>שם הארגון</td>
                                            
                                            <td>ניקוד</td>
                                            <td title="דירוג BikeChallenge">BC</td>

                                        </tr>
                                    </thead>
                                    <tr ng-repeat="group in globalRanks.groups">
                                        <td>{{$index + 1}}</td>
                                        <td>{{group.GroupDes}}</td>
                                        <td>{{group.OrganizationDes}}</td>
                                        
                                        <td>{{group.Group_Points}}</td>
                                        <td>
                                            <i ng-class="{'fa fa-star': (group.Group_Points >= 50)}"></i>
                                            <i ng-class="{'fa fa-star': (group.Group_Points >= 150)}"></i>
                                            <i ng-class="{'fa fa-star': (group.Group_Points >= 500)}"></i>
                                            <i ng-class="{'fa fa-star': (group.Group_Points >= 1500)}"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <hr />
                            <div class="row scroll-down-text" ng-click="flipShowOrganizationsRanksFlag()">
                                <strong>דירוג ארגונים</strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>
                            <div ng-if="showOrganizationsRanksFlag">
                                <br />
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr class="active">
                                            <td>#</td>
                                            <td>שם הארגון</td>
                                            <td>עיר</td>
                                            
                                            <td>ניקוד</td>
                                            <td title="דירוג BikeChallenge">BC</td>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="org in globalRanks.organizations">
                                        <td>{{$index + 1}}</td>
                                        <td>{{org.OrganizationDes}}</td>
                                        <td>{{org.CityName}}</td>
                                        
                                        <td>{{org.Organization_Points}}</td>
                                        <td>
                                            <i ng-class="{'fa fa-star': (org.Organization_Points >= 50)}"></i>
                                            <i ng-class="{'fa fa-star': (org.Organization_Points >= 150)}"></i>
                                            <i ng-class="{'fa fa-star': (org.Organization_Points >= 500)}"></i>
                                            <i ng-class="{'fa fa-star': (org.Organization_Points >= 1500)}"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <hr />
                            <div class="row scroll-down-text" style="padding-bottom:700px"></div>
                        </div>


                        <div ng-switch-default>

                            <hr />
                            <!--<div data-google-chart data-chart="chart" style="{{chart.cssStyle}}" ></div>-->
                            <div class="row scroll-down-text" ng-click="flipUserStatsFlag()">
                                <strong>המדדים שלי </strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>
                            <div ng-if="userStatsFlag">
                                <br />
                                <div class=" btn-group btn-group-justified ">
                                    <a class="btn btn-default" ng-click="statSelector= -1" ng-class="{ 'active' : statSelector == -1 }"><span class="glyphicon glyphicon-stats"></span>&nbsp; כללי</a>
                                    <a class="btn btn-default" ng-click="statSelector= 0" ng-class="{ 'active' : statSelector == 0 }"><span class="glyphicon glyphicon-stats"></span>&nbsp; חודשי</a>
                                </div>
                                <br /><br />
                                <div>
                                    <div data-google-chart data-chart-personal data-chart-type="gauger" data-entity="personal"></div> 
                                </div>
                                <br />

                                <table class="table-bordered" style="width: 100%; table-layout: fixed; text-align: center; font: normal 55px">
                                    <tr style="font-size:40px">
                                        <td>{{userKmRides.rides}}</td>
                                        <td>{{userKmRides.km}}</td>
                                    </tr>
                                    <tfoot>
                                        <tr style="background-color:#EBEBEB">
                                            <td> <strong>רכיבות</strong></td>
                                            <td><strong> קילומטרים</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <br />
                                <table class="table-bordered" style="width: 100%; table-layout: fixed; text-align: center; font: normal 55px">
                                    <tr style="font-size:40px">
                                        <td>₪{{userKmRides.money}}</td>
                                        <td>{{userKmRides.fuel}}</td>
                                    </tr>
                                    <tfoot>
                                        <tr style="background-color:#EBEBEB">
                                            <td> <strong>כסף שנחסך</strong></td>
                                            <td><strong>דלק שנחסך(ליטרים)</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>

                            <hr />
                            <div class="row scroll-down-text" ng-click="flipGroupStatsFlag()">
                                <strong>מדדים קבוצתיים </strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>

                            <div ng-if="groupStatsFlag">
                                <br />

                                <div class=" btn-group btn-group-justified ">
                                    <a class="btn btn-default" ng-click="statSelector= -1" ng-class="{ 'active' : statSelector == -1 }"><span class="glyphicon glyphicon-stats"></span>&nbsp; כללי</a>
                                    <a class="btn btn-default" ng-click="statSelector= 0" ng-class="{ 'active' : statSelector == 0 }"><span class="glyphicon glyphicon-stats"></span>&nbsp; חודשי</a>
                                </div>


                                <br /><br />
                                <div data-google-chart data-chart-personal data-chart-type="gauger" data-entity="group"></div>
                                
                                <br />

                                <table class="table-bordered" style="width: 100%; table-layout: fixed; text-align: center; font: normal 55px">
                                    <tr style="font-size:40px">
                                        <td>{{groupKmRides.rides}}</td>
                                        <td>{{groupKmRides.km}}</td>
                                    </tr>
                                    <tfoot>
                                        <tr style="background-color:#EBEBEB">
                                            <td> <strong>רכיבות</strong></td>
                                            <td><strong> קילומטרים</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <br/>
                                <table class="table-bordered" style="width: 100%; table-layout: fixed; text-align: center; font: normal 55px">
                                    <tr style="font-size:40px">
                                        <td>{{groupKmRides.money}}</td>
                                        <td>{{groupKmRides.fuel}}</td>
                                    </tr>
                                    <tfoot>
                                        <tr style="background-color:#EBEBEB">
                                            <td> <strong>כסף שנחסך</strong></td>
                                            <td><strong>דלק שנחסך(ליטרים)</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <br />
                                <table class="table-bordered" style="width: 100%; table-layout: fixed; text-align: center; font: normal 55px">
                                    <tr>
                                        <td> <div data-google-chart data-chart-personal data-chart-type="pie" data-entity="group" style="width:100%; height:100%"> </div> </td>
                                    </tr>
                                    <tfoot>
                                        <tr style="background-color:#EBEBEB">
                                            <td> <strong>התפלגות ק"מ קבוצתית</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <hr />

                            <div class="row scroll-down-text" ng-click="flipOrganizationStatsFlag()">
                                <strong>מדדים ארגוניים </strong>
                                <div class="glyphicon glyphicon-chevron-down pull-left scroll-down"></div>
                            </div>

                            <div ng-if="organizationStatsFlag">
                                <br />

                                <div class=" btn-group btn-group-justified ">
                                    <a class="btn btn-default" ng-click="statSelector= -1" ng-class="{ 'active' : statSelector == -1 }"><span class="glyphicon glyphicon-stats"></span>&nbsp; כללי</a>
                                    <a class="btn btn-default" ng-click="statSelector= 0" ng-class="{ 'active' : statSelector == 0 }"><span class="glyphicon glyphicon-stats"></span>&nbsp; חודשי</a>
                                </div>


                                <br /><br />
                                <div data-google-chart data-chart-personal data-chart-type="gauger" data-entity="organization"></div>
                                <br />

                                <table class="table-bordered" style="width: 100%; table-layout: fixed; text-align: center; font: normal 55px">
                                    <tr style="font-size:40px">
                                        <td>{{organizationKmRides.rides}}</td>
                                        <td>{{organizationKmRides.km}}</td>
                                    </tr>
                                    <tfoot>
                                        <tr style="background-color:#EBEBEB">
                                            <td> <strong>רכיבות</strong></td>
                                            <td><strong> קילומטרים</strong></td>
                                        </tr>
                                    </tfoot>


                                </table>
                                <br />
                                <table class="table-bordered" style="width: 100%; table-layout: fixed; text-align: center; font: normal 55px">
                                    <tr style="font-size:40px">
                                        <td>{{organizationKmRides.money}}</td>
                                        <td>{{organizationKmRides.fuel}}</td>
                                    </tr>
                                    <tfoot>
                                        <tr style="background-color:#EBEBEB">
                                            <td> <strong>כסף שנחסך</strong></td>
                                            <td><strong>דלק שנחסך(ליטרים)</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <br />
                                <table class="table-bordered" style="width: 100%; table-layout: fixed; text-align: center; font: normal 55px">
                                    <tr>
                                        <td> <div data-google-chart data-chart-personal data-chart-type="pie" data-entity="organization" style="width:100%; height:100%"> </div> </td>
                                    </tr>
                                    <tfoot>
                                        <tr style="background-color:#EBEBEB">
                                            <td> <strong>התפלגות ק"מ ארגונית</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="row scroll-down-text" style="padding-bottom:700px"></div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</body>
</html>
