<!DOCTYPE html>
<html lang="he">

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title></title>

    <style>
        #passwordForm {
            position: absolute;
            top: 30%;
            left: 45%;
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="passwordForm" class="col-md-4">
            <form name="iForgotPassword" ng-submit="forgotPassword(iForgotPassword)" novalidate>
                <!-- Email Address -->

                <div class="form-group">
                    <label><small>כתובת דואר אלקטרוני אשר באמצעותה נרשמת לאתר</small></label>
                    <input type="email"
                           ng-class="{ 'has-error' : iForgotPassword.emailAddress.$invalid && iForgotPassword.emailAddress.$dirty , 'has-success' : iForgotPassword.emailAddress.$valid, 'has-required' : iForgotPassword.emailAddress.$pristine }"
                           name="emailAddress"
                           class="form-control"
                           ng-model="emailAddress"
                           dir="ltr"
                           placeholder="כתובת דואר אלקטרוני"
                           data-email-validate-forgot
                           required>
                    <p ng-show="iForgotPassword.emailAddress.$error.unique" class="help-block">כתובת הדואר האלקטרוני אינה קיימת במערכת</p>
                    <p ng-show="pleaseWait">אנא המתן...<i class="fa fa-spinner fa-spin"></i></p>

                </div>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-primary" ng-disabled="iForgotPassword.$invalid">אפס סיסמא!</button>
            </form>
        </div>
        <br />
    </div>


</body>
</html>


