<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container">

        <div class="input-group input-group-lg col-md-4" style="padding-top:20px">
            <form ng-submit="signIn()" name="loginDetails" novalidate>
                <fieldset>
                    <legend>התחברות</legend>
                </fieldset>

                <input type="text" class="form-control" ng-model="loginDetails.userName" placeholder="שם משתמש" required /><br />
                <br />
                <input type="password" class="form-control" ng-model="loginDetails.password" placeholder="סיסמא " required /><br />

                <br />


                <button type="submit" class="btn btn-primary" ng-disabled="loginDetails.$invalid">התחבר</button>

                <div ng-if="failFlag" style="color:red">
                    <p class="glyphicon glyphicon-remove"></p> {{failMSG}}
                </div>

            </form>
        </div>
        <br />





    </div>
</body>
</html>
