<!DOCTYPE html>
<html lang="he">

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="col-md-8 pull-right" style="padding-top:30px">
            <fieldset>
                <legend>
                    <span>תחרויות עבר</span>
                </legend>
            </fieldset>
            <div data-accordion>


                <div data-accordion-group ng-repeat="challenge in challengesHolder |  orderBy:'CompetitionDate':!reverse" data-is-open="status1.open">

                    <div data-accordion-heading>
                        <span>בייק צ'אלנג לחודש - {{challenge.CompetitionDate  | displayHebrewDate}}</span>
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down pull-left': !status1.open, 'glyphicon-chevron-right pull-left': status1.open}"></i>
                    </div>


                    <table class="table table-responsive table-striped ">
                        <thead>
                            <tr>
                                <td><strong>הארגון המנצח</strong></td>
                            </tr>
                        </thead>
                        <tr>
                            <td>{{challenge.OrgWin | displayNull}}&nbsp;,&nbsp;{{challenge.OrgWin_City}}</td>
                            <td rowspan="2"><img class="img-rounded img-responsive pull-left" src="{{challenge.OrgWin_Image}}" style="max-width:200px" /></td>
                        </tr>
                    </table>
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <td><strong>הקבוצה המנצחת</strong></td>
                            </tr>
                        </thead>
                        <tr>
                            <td>{{challenge.GrpWin | displayNull}}&nbsp;&nbsp;,{{challenge.GrpWin_Org}}</td>
                        </tr>
                    </table>
                    <table class="table table-responsive table-condensed">
                        <thead>
                            <tr>
                                <td><strong>הרוכבים המנצחים</strong></td>
                            </tr>
                        </thead>
                        <tr>
                            <td colspan="3" align="center"><span class="badge alert-success"> #1 קטגורית פלטינום  </span></td>
                        </tr>
                        <tr>
                            <td>שם הרוכב</td>
                            <td><strong>{{challenge.PlatinumUserDisplayName | displayNull}}</strong></td>
                            <td rowspan="4" style=""><img src="{{challenge.PlatinumImg}}" class="img-rounded pull-left" style="width: 200px;max-height:200px;" /></td>
                        </tr>
                        <tr>
                            <td>קבוצה</td>
                            <td><strong>{{challenge.PlatinumGroup}}&nbsp;{{challenge.PlatinumOrg}}</strong></td>
                        </tr>
                        <tr>
                            <td>עיר</td>
                            <td><strong>{{challenge.PlatinumCity}}</strong></td>
                        </tr>
                        <tr>
                            <td>סוג אופניים</td>
                            <td><strong>{{challenge.PlatinumBicycleType}}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center"><span class="badge alert-warning"> #2 קטגורית זהב  </span></td>
                        </tr>
                        <tr>
                            <td>שם הרוכב</td>
                            <td><strong>{{challenge.GoldUserDisplayName | displayNull}}</strong></td>
                            <td rowspan="4"><img src="{{challenge.GoldImg}}" class="img-rounded pull-left" style="width: 200px;max-height:200px;" /></td>
                        </tr>
                        <tr>
                            <td>קבוצה</td>
                            <td><strong>{{challenge.GoldGroup}}&nbsp;{{challenge.GoldOrg}}</strong></td>
                        </tr>
                        <tr>
                            <td>עיר</td>
                            <td><strong>{{challenge.GoldCity}}</strong></td>
                        </tr>
                        <tr>
                            <td>סוג אופניים</td>
                            <td><strong>{{challenge.GoldBicycleType}}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center"><span class="badge"> #3 קטגורית כסף  </span></td>
                        </tr>
                        <tr>
                            <td>שם הרוכב</td>
                            <td><strong>{{challenge.SilverUserDisplayName | displayNull}}</strong></td>
                            <td rowspan="4"><img src="{{challenge.SilverImg}}" class="img-rounded pull-left" style="width: 200px;max-height:200px;" /></td>
                        </tr>
                        <tr>
                            <td>קבוצה</td>
                            <td><strong>{{challenge.SilverGroup}}&nbsp;{{challenge.SilverOrg}}</strong></td>
                        </tr>
                        <tr>
                            <td>עיר</td>
                            <td><strong>{{challenge.SilverCity}}</strong></td>
                        </tr>
                        <tr>
                            <td>סוג אופניים</td>
                            <td><strong>{{challenge.SilverBicycleType}}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center"><span class="badge alert-danger"> #4 קטגורית ארד  </span></td>
                        </tr>
                        <tr>
                            <td>שם הרוכב</td>
                            <td><strong>{{challenge.BronzeOUserDisplayName | displayNull}}</strong></td>
                            <td rowspan="4"><img src="{{challenge.BronzeImg}}" class="img-rounded pull-left" style="width: 200px;max-height:200px;" /></td>
                        </tr>
                        <tr>
                            <td>קבוצה</td>
                            <td><strong>{{challenge.BronzeGroup}}&nbsp;{{challenge.BronzeOrg}}</strong></td>
                        </tr>
                        <tr>
                            <td>עיר</td>
                            <td><strong>{{challenge.BronzeCity}}</strong></td>
                        </tr>
                        <tr>
                            <td>סוג אופניים</td>
                            <td><strong>{{challenge.BronzeBicycleType}}</strong></td>
                        </tr>
                    </table>


                </div>

            </div>
        </div>
    </div>

</body>
</html>



