<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    
    <div ng-controller="userProfileController">

        <h1> My Profile </h1>

        <button type="submit" ng-click="getMyData()"> Get My Data </button>

    <h1>this is your data {{uiData}}</h1>
    
   
       


        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            בחר קבוצה 
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">בחר קבוצה</h4>
                    </div>
                    <div class="modal-body row">
                          <input ng-model="query" />
                          <br/>
                        <div ng-repeat="org in orgs | filter:query">
                            <div class="col-md-4">
                                <input type="radio" data-icheck name=radio2 class="col-md-1" value={{org.Organizationname}} ng-model="$parent.value" />
                                <div class="col-md-11">
                                    <div class="panel panel-primary ">
                                        <div class="panel-heading">{{org.Organizationname}} </div>
                                        <div class="panel-body">
                                            <p>{{org.OrganizationAddress}}</p>
                                            <p>{{org.OrganizationType}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="myOrg()">Save changes</button> 
                        </div>
                    </div>
            </div>
        </div>
        
        <button type="button" ng-click="clearSelection()" class="btn-danger glyphicon glyphicon-remove">נקה</button>
        <br />
        <br />
        <br />
        <input type="text" placeholder="הקבוצה שנבחרה" ng-readonly="value!==null" value={{value}} />
    
    </div>
        

   

       
        
        


</body>
</html>
