<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
       
    </style>
</head>
<body>
    <div class="panel panel-primary " style="padding-top:30px">
        <div class="panel-heading"><span>פרטים אישיים</span><i ng-click="toggleEditor()" class="glyphicon glyphicon-adjust pull-left"></i></div>
        <div class="panel-body">
            <table class="table col-md-6">
                <tr>
                    <td>כתובת דואר אלקטרוני</td>
                   <td ng-show="!editorEnabled" >{{personalInfoHolder.UserEmail}}</td>
                   <td ng-show="editorEnabled"><input type="text" ng-model="updatedRecords.email" placeholder="{{personalInfoHolder.UserEmail}}" /></td>

                </tr>
                <tr>
                    <td>כתובת</td>
                    <td>{{personalInfoHolder.UserAddress}}</td>
                </tr>
                <tr>
                    <td>עיר</td>
                    <td>{{personalInfoHolder.RiderCity}}</td>
                </tr>
                <tr>
                    <td>תאריך לידה</td>
                    <td>{{personalInfoHolder.BirthDate}}</td>
                </tr>
                <tr>
                    <td>מספר טלפון</td>
                    <td>{{personalInfoHolder.UserPhone}}</td>
                </tr>
            </table>
        </div>
        </div>


</body>
</html>

