<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
   

    <form name="reg">


        <div class="form-group">
            <input type="text"
                   name="userName"
                   class="form-control"
                   ng-model="userName"
                   placeholder="שם משתמש"
                   ng-pattern='/^[a-z]$/'
                   data-username-validate
                   required>

        </div>
    </form>

</body>
</html>
