<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Bike Challenge Israel</title>

    <!--Styles-->
    <link href="Content/appStyles.css" rel="stylesheet" />
    <link href="Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    
</head>
<body ng-app="bChallenge" ng-controller="mainController" >

    <!--Navigation Bar Fixed-->
    <div class="navBar">

        <a href="#userRegistration">User registration</a> |
        <a href="#about">About</a> |
        <a href="#login">Login</a> |
        <a href="#home">home</a> |
        <br />

        <br />
        
        <div ng-if="currentUser"> Welcome, {{ currentUser }} , <a ng-if="currentUser" ng-click="signOut()">Logout...</a></div>  
        

        <hr />
    </div>
       
        <!--<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
        <div ng-switch on="currentUser.role">
            <div ng-switch-when="userRoles.admin">You're admin.</div>
            <div ng-switch-when="userRoles.editor">You're editor.</div>
            <div ng-switch-default>You're something else.</div>
        </div>-->


        <div class="mainFrame" ng-view>        </div>

        <hr />

    <!-- Vendor Libs: jQuery  used for Bootstrap functionality -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/jquery-2.1.0.js"></script>

    <!-- UI Libs -->
    <script src="Scripts/bootstrap.js"></script>

    <!-- App libs -->

    <script src="app/app.js"></script>
    <script src="app/controllers/controllers.js"></script>
    <script src="app/services/appservices.js"></script>
    <script src="app/services/dataServices.js"></script>

</body>
</html>

