<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1> Log In Registered User</h1>

    <form ng-submit="signIn()" name="loginDetails" novalidate>


        <input type="text" ng-model="loginDetails.userName" placeholder="Email Address" required /><br />
        <br />
        <input type="password" ng-model="loginDetails.password" placeholder="Password" required /><br />
        <br />

        <button type="submit" ng-disabled="loginDetails.$invalid">Submit</button>
        
        
    </form>
    <br/>
      
    <div ng-if="failFlag">{{failMSG}}</div>


</body>
</html>
