<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8"> 
    <title>Bike Challenge Israel</title>
    <!--Styles-->
    <link href="Content/appStyles.css" rel="stylesheet" />
    <link href="Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />    
</head>



<body ng-app="bChallenge" ng-controller="mainController" >
    

    <div class="nav navbar-inverse navbar-static-top">

        <div class="container">

            <a href="#" class="navbar-brand">Bike Challenge</a>

            <!-- Nav Bar Responsive Icon Stack-->
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- NavBar Items-->
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">אודות</a></li>
                    <li><a href="#userRegistration">רישום</a> </li>
                    <li><a href="#login">התחברות</a></li>
                </ul>

                <ul ng-if="currentUser" class="nav navbar-nav pull-left">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{ currentUser }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-if="currentUser"><a href="#userProfile">פרופיל אישי</a></li>
                            <li class="divider"></li>
                            <li><a ng-if="currentUser" ng-click="signOut()">התנתק</a></li>

                        </ul>
                </ul>

            </div>

        </div>

    </div>
    
    
    
    
    
    
    <div class="container">
    
        <!-- Main Frame Partial Injection -->   
         
        <div class="mainFrame" ng-view></div>
           
    </div>


    <!-- Footer Nav Bar-->

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#about">&copy    All rights reserved - Bike Challenge Israel 2014</a></li>    
                </ul>
            </div>
        </div>


    </div>

    <!-- UI Libs: jQuery  used for Bootstrap functionality -->
    <script src="Scripts/jquery-2.1.0.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    
    
    <!-- Vendor Libs -->
            
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
            
        
    <!-- App libs -->

    <script src="app/app.js"></script>
    <script src="app/controllers/controllers.js"></script>
    <script src="app/services/appservices.js"></script>
    <script src="app/services/dataServices.js"></script>
    <script src="app/services/angular-http-auth.js"></script>
    
</body>
</html>

