/********************************/
/* ***** Sticky footer styles ***
*********************************/



html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  background-color:#f5f5f5 ;
  bottom:0;
}

.angular-google-map-container { height: 400px; }




/****************************************************************************/        
/* *********************** Calendar widget Styles ***************************/
/****************************************************************************/

        .cellCal { 
        width:80px; 
        height:80px; 
        
        
        text-align:center

        }

		div.cal {
		  display: inline-block;
		  height: 370px;
		  min-height: 140px;
		  margin: 30px;
		}
		div.cal table {
			border-collapse: collapse;
		}
		div.cal th, div.cal td.cal-head {
		  text-align: center;
		  padding-bottom: 0px;
		  color: #888;
		  border: 0px;
          height:40px;
		}
		div.cal td {
		  text-align: center;
		  font-size: 0.9em;
		  border: 1px solid #ddd;
		}
		div.cal div.cal-day {
		  padding: 30px;
		  cursor: pointer;
		  border: 1px solid transparent;
		}
		div.cal div.cal-highlight {
		  background-color: #AAA;
		  color: #FFF;
		}
        div.cal div.cal-highlight-today {
		  background-color: #ff6a00;
		  color: #FFF;
		}
		div.cal div.cal-highlight-active {
		  background-color: #222;
		  color: #fff;
		}
		div.cal div.cal-day:hover {
		  border: 1px solid #111;
		}

        /* Cal Widget - Daily Summary */


       .popover{
           width:200px;
        }

       


        /* Social Icons */

        ul{list-style:none;margin:0 5px 0 0;padding:0;float:left}
        footer li a{color:#7b7b7a}
        footer li:first-child{font-weight:bold;margin-bottom:7px}
        footer li:first-child a{color:#3f3e3e}
        footer a{text-decoration:none}
        footer a:hover{text-decoration:underline}

        ul.social-icons{clear:right;float:right;display:inline-block;width:105px; padding-top:5px;}
        ul.social-icons li{margin:2px;}
        ul.social-icons li.icon{display:inline-block;float:left;width:30px;height:29px}
        ul.social-icons li.icon a{width:30px;height:29px;display:inline-block;background:url('../sources/images/social-icons.png') no-repeat;overflow:hidden;white-space:nowrap;text-indent:100%}
        ul.social-icons li.fb.icon a{background-position:0 0}
        ul.social-icons li.fb.icon a:hover{background-position:0 -29px}
        ul.social-icons li.gplus.icon a{background-position:-60px 0}
        ul.social-icons li.gplus.icon a:hover{background-position:-60px -29px}
        ul.social-icons li.youtube.icon a{background-position:-150px 0}
        ul.social-icons li.youtube.icon a:hover{background-position:-150px -29px}
        