/********************************/
/* ***** Sticky footer styles ***
*********************************/

@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

html,
body {
  height: 100%;
  font-family: 'Open Sans Hebrew', serif;
  background-image:url(../sources/images/brushed_@2x.png); background-repeat:repeat
  /* The html and body elements cannot have any padding or margin. */
}



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 100px;
  background-color:#f5f5f5 ;
  bottom:0;
}

.angular-google-map-container { height: 400px; }

/* Footer Links style */

a.footer-link {
    color: #AAA !important;
    text-decoration:none !important;
    padding-right:10px;
    padding-left:10px;
}

a.footer-link:hover {
    color: #ff6a00 !important;
    text-decoration:none;
}

/* nav bar hoover color */
 .navbar-inverse .navbar-nav > li  {
            
            font-weight:bold;
        }

 .navbar-inverse .navbar-nav > li > a:hover {
            color: #ff6a00;
            font-weight:bold;
        }
 .navbar-inverse .navbar-brand:hover {
color: #ff6a00;
font-weight:bold;
}
/****************************************************************************/        
/* *********************** Home Page ***************************/
/****************************************************************************/

        .jumbotron {
            height: 350px;
            color: white;
            text-shadow: #444 0 3px 3px;
            background: transparent;
            padding-top: 150px;
            stroke: black;
        }

        .content-background {
            background-color: black;
            background: url('../sources/images/1600x1200.jpg') no-repeat 100% 25%;
            background-size: cover;
            height: 660px;
            width: inherit;
        }

        .circle-border {
            background-color: #ecebe9;
            border-radius: 50%;
            height: 120px;
            width: 120px;
            text-align: center;
            vertical-align: central;
            font-size:20px;
            padding-top:30px;
  
        }

        .circle-border:hover {
            background-color: #0094ff;
            border-radius: 50%;
            
            font-size: 25px;
            padding-top:25px;
            color:white;
        }

        .my-icon {
        
            width: 50%;
            margin: 0px auto 0px auto;
        }
        
        .text4icon {
            text-align: center;
            vertical-align: central;
            font-size: 15px;
            color:#444;
        }

        .iconFrame {
           
            border-color: #444;
            border-width: 1px;
            border-radius: 50%;
        }

         .public-stats{
            background-color:#222222;
            padding-top:40px;
            padding-bottom:40px;
            /*height:150px;*/
            color:#999999;
        }
        .stats{
            font-size:20px;
        }
        .stats-header{
            font-size:15px;
        }
        .stats-icons{
            height:100%;

        }
        .stats-cell{
            text-align:center;
            vertical-align:central;
        }

        .hoverstats {
            color: #ff6a00; 
            
            
        }

/****************************************************************************/        
/* *********************** Forms Validators ***************************/
/****************************************************************************/
.has-success .form-control {
            border-left-width: 20px;
        }
.has-required .form-control {
            border-left-width: 20px;
            border-color:#ff6a00;
        }
.has-error .form-control {
            border-left-width: 20px;
            
        }
  #genderCombo.has-required,#bikeTypeCombo.has-required  {
          border-left-width: 20px;
          border-color:#ff6a00;  
            

        }
 #genderCombo.has-success, #bikeTypeCombo.has-success  {
          border-left-width: 20px;  
          border-color:#3C763D; 
        }

/****************************************************************************/        
/* *********************** Calendar widget Styles ***************************/
/****************************************************************************/

        .cellCal { 
        width:80px; 
        height:80px; 
        
        
        text-align:center

        }

		div.cal {
		  display: inline-block;
		  height: 370px;
		  min-height: 140px;
		  margin: 30px;
		}
		div.cal table {
			border-collapse: collapse;
		}
		div.cal th, div.cal td.cal-head {
		  text-align: center;
		  padding-bottom: 0px;
		  color: #888;
		  border: 0px;
          height:40px;
		}
		div.cal td {
		  text-align: center;
		  font-size: 0.9em;
		  border: 1px solid #ddd;
		}
		div.cal div.cal-day {
		  padding: 30px;
		  cursor: pointer;
		  border: 1px solid transparent;
          background-color:white;
		}
		div.cal div.cal-highlight {
		  background-color: #AAA;
		  color: #FFF;
		}
        div.cal div.cal-highlight-today {
		  background-color: #ff6a00;
		  color: #FFF;
		}
		div.cal div.cal-highlight-active {
		  background-color: #222;
		  color: #fff;
		}
		div.cal div.cal-day:hover {
		  border: 1px solid #111;
          background-color:#689DF2;
		}

        /* Cal Widget - Daily Summary */


       .popover{
           width:300px;
        }

       
       /* Right DashBoard */

       .scroll-down{
           color:gray;
           
       }

       .scroll-down-text{
           cursor: pointer;
       }

       
/****************************************************************************/        
/* *********************** Social Icons Styles ***************************/
/****************************************************************************/
        
        
        .facebook {
            border:none;

        }

        #fb {
            height: 26px;
            width: 26px;
            content: url('../sources/images/socialIcons/fb_black.png');
            border-image:none;
            border:0;
}

        #fb:hover {
            content: url('../sources/images/socialIcons/fb_color.png');
            border-image:none;
            border:0;
        }

        #gp {
            height: 26px;
            width: 26px;
            content: url('../sources/images/socialIcons/gplus_black.png');
            border-image:none;
}

        #gp:hover {
            content: url('../sources/images/socialIcons/gplus_color.png');
        }
        
        #yt {
            height: 26px;
            width: 26px;
            content: url('../sources/images/socialIcons/yt_black.png');
}

        #yt:hover {
            content: url('../sources/images/socialIcons/yt_color.png');
        }

        #mail {
            height: 26px;
            width: 26px;
            content: url('../sources/images/socialIcons/mail_black.png');
}

        #mail:hover {
            content: url('../sources/images/socialIcons/mail_color.png');
        }

      